<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.arquimedes.watch</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ARQ}}</string>
    <string>watch</string>
    <string>--once</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{REPO_ROOT}}</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>{{SCAN_INTERVAL_SECONDS}}</integer>
  <key>KeepAlive</key>
  <false/>
</dict>
</plist>
